.navbar{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.nav_stickey{
    background: #fff;
    box-shadow: 0px 3px 14px #96969633;
}


@tailwind components;

@layer components {
    .button {
        @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-150 ease-out
    }
}